body{
  padding: 0%;
  margin: 0%;
  background-color: rgba(15, 15, 15, 0.881);
  width: 100%;
}
.navbar{
    display: flex;
    position: sticky;
    top: 0%;
    background-color: rgba(89, 87, 87, 0.612);
    padding: 20px;
    justify-content: space-between;
    height: 15px;
    margin: 0;
    align-items: center;
    position: sticky;
    top: 0%;
  }
  .navbar a{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .navbar a:hover{
    background-color: rgba(34, 34, 34, 0.374);
    border: 1px solid white;
    border-radius: 10px;
    zoom: 1;
    display: flex;

  }
  
  .firstpic{
    zoom:0.6;
    position: sticky;
    top:0%;
    justify-content: flex;
    flex-wrap: wrap;
    display: flex;
    z-index: -1;
    box-shadow: 10px 20px 50px 20px rgb(90, 88, 88);
  }
  
  .container{
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 3px;
    width: 110%;
    height: 300px;
}
.card{
    align-items: center;
    border: 1px solid rgb(239, 226, 226);
    background-color: aliceblue;
    background-size: cover;
    width: 200px;
    padding: 0%;
    margin: 10px;
    border-radius: 20px;
    display: flex;
}
.headings
{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 20px;
  margin-bottom: 0%;

}

.container .card:hover{
  zoom:1.1;
  z-index: 5;
}

.container_l{
  display: flex;
  margin-top: 5px;
  align-items: center;
  gap: 3px;
  width: 110%;
  height: 180px;
}


.card_l{
  align-items: center;
  border: 1px solid rgb(239, 226, 226);
  background-color: aliceblue;
  background-size: cover;
  width: 240px;
  height: 150px;
  padding: 0%;
  margin: 5px;
  border-radius: 20px;
  display: flex;
}

.container_l .card_l:hover{
  zoom:1.1;
  z-index: 5;
}

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  align-items: last baseline;
}
/* .footer container{
  display: flex;
  align-items: center;
  justify-content: center;

} */
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 2px;
	margin-bottom: 2px;
}
/* #footer .social-icon {
	display: flex;
  align-items: center;
  justify-content: center;
} */
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */
